* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}