.other-details {
    margin-top: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    padding: 30px;
    display: inline-block;
    font-size: 90%;
}

h4:first-of-type {
    float: left;
}

h4:nth-of-type(3) {
    float: right;
}